<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Snake Race!</title>
    <link rel="stylesheet" href="snake-race.css" type="text/css" />
</head>

<body>
    <div class="container">
        <div id="snake-race">
            <h1>Snake Race</h1>
            <div class="state">
                {{state}}
            </div>
            <div class="controls">
                <button v-on:click="start()" :disabled="state !== 'ready'">Start</button>
                <div class="player" v-for="player in players">
                    {{player.name}}
                    <label for="controller">Controller</label>
                    <select name="controller" v-model="player.controller">
                        <option v-for="(c, name) in controllers" v-bind:value="c.Constructor">
                            {{name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="games">
                <game v-for="game in games" :game="game"></game>
            </div>
        </div>
        <div class="explanations">
            <div class="explanation">
                <h2>User 1 & 2</h2>
                <p>
                    This class takes user input and converts it into commands for the snake to perform. Yes it is possible for one player to control both games. The difference between the 2 user controllers is just the keys that are used. User 1 uses the cursors to move
                    while User 2 uses WASD to move.
                </p>
            </div>
            <div class="explanation">
                <h2>Simple AI</h2>
                <p>
                    This is about the simplest AI that can play the game. With each step of the game the AI is just checking for available moves and finding the one that minimizes the L1 norm the most. It is prone to entering concave spaces that it can't escape from, but it is also good at taking up space when it gets stuck in a tight spot and can sometime escape when it has trapped itself.
                </p>
            </div>
            <div class="explanation">
                <h2>A* AI</h2>
                <p>
                    This AI uses the A* (A star) pathfinding algorithm to find the best path to the food. It is prone to failure when there isn't a path available. This can happen when the snake gets longer and blocks direct paths to the food and also when the food spawns in the snake.
                </p>
            </div>
            <div class="explanation">
                <h2>Up Down AI</h2>
                <p>
                    This might be the simplest form of "AI" for snake that is guaranteed to win every time. It will basically just traverse each column from right to left until it reaches the end at which point it will return via the top or bottom row. Super boring to watch, but a simple pattern that will win every single time. Another pattern that could also be guaranteed to win would be a spiral formation. The spiral pattern could be more challenging depending on the shape of the map and would likely have more edge cases to deal with.
                </p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://rawgit.com/bgrins/javascript-astar/master/astar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
    <script type="text/javascript" src="snake-race.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-101009611-2', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>