<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Snake Race!</title>
    <link rel="stylesheet" href="snake-race.css" type="text/css" />
</head>

<body>
    <div class="container">
        <div id="snake-race">
            <h1>Snake Race</h1>
            <div class="state">
                {{state}}
            </div>
            <div class="controls">
                <button v-on:click="start()" :disabled="state !== 'ready'">Start</button>
                <div class="player" v-for="player in players">
                    {{player.name}}
                    <label for="controller">Controller</label>
                    <select name="controller" v-model="player.controller">
                        <option v-for="(c, name) in controllers" v-bind:value="c.Constructor">
                            {{name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="games">
                <game v-for="game in games" :game="game"></game>
            </div>
        </div>
        <div class="explanations">
            <div class="explanation">
                <h2>UserController</h2>
                <p>This class takes user input and converts it into commands for the snake to perform. Yes it is possible for one player to control both games.</p>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://rawgit.com/bgrins/javascript-astar/master/astar.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
    <script type="text/javascript" src="snake-race.js"></script>
</body>

</html>